<p><label for='settings_log_file'><span title="<%= l(:settings_ppms_log_file_descr) %>"><%= l(:settings_ppms_log_file_label) %></span></label>
   <%= text_field_tag 'settings[log_file]', @settings['log_file'] %>
</p>
